<div id="<%= dom_id currency %>">
  <p>
    <strong>Name:</strong>
    <%= currency.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= currency.char_code %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= currency.cbr_id %>
  </p>

</div>
